.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  }
.blogItemh3{
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
  .blogItemp{
    max-width: 60vw;
  }

  .blogbtn{
    color: white;
    background: black;
    padding: 7px 6px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    margin: 22px 0;
}

